/* CSS declarations go here */

/*
Blown Entrepreneur
www.colourlovers.com/palette/59867/Blown_Entrepreneur
*/
/* */
@cardback: #44749d;
@glow: #c6d4e1;
@subtle: #c6d4e1;
@text: #bdb8ad;
@background: #ebe7e0;
/* */

/*
Fireball
http://www.colourlovers.com/palette/3005342/Fireball
*/
/* * /
@cardback: #a44c19;
@glow: #c0762b;
@subtle: #e7cd80;
@text: #d9b65b;
@background: #eddcb0;
/* */

/*
Groovy_Lines
http://www.colourlovers.com/palette/3018844/Groovy_Lines
*/
/* * /
@cardback: #7f3c1f;
@glow: #d97827;
@subtle: #8d694f;
@text: #053e47;
@background: #efd4b6;

@text_shadow: #000000;
@navbar_gradient_from: lighten(@cardback, 5%);
@navbar_gradient_to: darken(@cardback, 5%);
@btn_primary_gradient_from: lighten(@cardback, 5%);
@btn_primary_gradient_to: darken(@cardback, 5%);
/* */

@pile_padding: 5px;
@overlap: -10px;
@facedown_overlap: -30px;
@pile_width: 286px;

/* Bootstrap overrides */
/* * /
.navbar-inner {
  background-color: @cardback;
  background-image: -moz-linear-gradient(top, @navbar_gradient_from, @navbar_gradient_to);
  background-image: -ms-linear-gradient(top, @navbar_gradient_from, @navbar_gradient_to);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(@navbar_gradient_from), to(@navbar_gradient_to));
  background-image: -webkit-linear-gradient(top, @navbar_gradient_from, @navbar_gradient_to);
  background-image: -o-linear-gradient(top, @navbar_gradient_from, @navbar_gradient_to);
  background-image: linear-gradient(top, @navbar_gradient_from, @navbar_gradient_to);
}
.navbar .brand {
  text-shadow: 0 1px 0 @text_shadow;
}
.navbar .nav > li > a {
  text-shadow: 0 1px 0 @text_shadow;
}
.btn-primary {
  background-color: @cardback;
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(@btn_primary_gradient_from), to(@btn_primary_gradient_to));
  background-image: -webkit-linear-gradient(top, @btn_primary_gradient_from, @btn_primary_gradient_to);
  background-image: -o-linear-gradient(top, @btn_primary_gradient_from, @btn_primary_gradient_to);
  background-image: linear-gradient(to bottom, @btn_primary_gradient_from, @btn_primary_gradient_to);
}
/* */

body {
  color: @text;
  background-color: @background;
}

a {
  color: @subtle;
}

a:hover {
  color: @glow;
}

.rounded-corners (@radius: 3px) {
  -webkit-border-radius: @radius;
  -moz-border-radius: @radius;
  -ms-border-radius: @radius;
  -o-border-radius: @radius;
  border-radius: @radius;
}

.top-rounded-corners (@radius: 3px) {
  -webkit-border-top-left-radius: @radius;
  -webkit-border-top-right-radius: @radius;
  -moz-border-radius-topleft: @radius;
  -moz-border-radius-topright: @radius;
  border-top-left-radius: @radius;
  border-top-right-radius: @radius;
}

.glow (@spread: 10px, @color: @glow) {
  -moz-box-shadow: 0 0 @spread @color;
  -webkit-box-shadow: 0 0 @spread @color;
  box-shadow: 0px 0px @spread @color;
}

.clickable {
  cursor: pointer;
}

.pile {
  .rounded-corners(5px);
  box-sizing: border-box;
  border: 1px solid black;
  background-color: #ffffff;
  min-height: 130px;
  width: @pile_width;
  padding-top: @pile_padding;
  padding-right: @pile_padding;
  padding-bottom: 2px;
  padding-left: (-@overlap + @pile_padding);
}

.pile.facedown {
  padding-left: (-@facedown_overlap + @pile_padding);
}

.pile-wrapper {
  display: inline-block;
  margin: 5px;
}

.card {
  .rounded-corners;
  border: 1px solid black;
  height: 47px;
  width: 30px;
  float: left;
  background-color: white;
  margin-left: @overlap;
  margin-bottom: 3px;
  cursor: pointer;
  color: black;
}

.card.hearts,
.card.diams {
  color: red;
}

.card.facedown {
  text-align: center;
  background-color: @cardback;
  color: black;
  margin-left: @facedown_overlap;
}

.selected {
  .glow;
}

.subtle {
  color: @subtle;
}

.mask {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    background-color: #000000;
    opacity: .4;
    z-index: 5;
}

.log {
  .top-rounded-corners(0px);
  margin: 0 auto;
  width: 94%;
  font-family: monospace;
}

.rotate (@rot: -20deg) {
  -webkit-transform: rotate(@rot);
  -moz-transform: rotate(@rot);
  -ms-transform: rotate(@rot);
  -o-transform: rotate(@rot);
  transform: rotate(@rot);
}

.alpha {
  .rotate;
  position: absolute;
  display: inline-block;
  top: 5px;
  left: 5px;
  color: @subtle;
  font-size: smaller;
}
