{% extends "base.html" %}

{% block js %}
<script>
$(document).ready(function() {
    // From http://liquidmedia.org/blog/2011/02/backbone-js-part-3/
    var UpdatingCollectionView = Backbone.View.extend({
        initialize : function(options) {
            _(this).bindAll('add', 'remove');
            if (!options.childViewConstructor) {
                throw "no child view constructor provided";
            }
            if (!options.childViewTagName) {
                throw "no child view tag name provided";
            }
            this._childViewConstructor = options.childViewConstructor;
            this._childViewTagName = options.childViewTagName;
            this._childViews = [];
            this.collection.each(this.add);
            this.collection.bind('add', this.add);
            this.collection.bind('remove', this.remove);
        },
        add : function(model) {
            var childView = new this._childViewConstructor({
                tagName : this._childViewTagName,
                model : model
            });
            this._childViews.push(childView);
            if (this._rendered) {
                $(this.el).append(childView.render().el);
            }
        },
        remove : function(model) {
            var viewToRemove = _(this._childViews).select(function(cv) {
                return cv.model === model;
            })[0];
            this._childViews = _(this._childViews).without(viewToRemove);
            if (this._rendered) {
                $(viewToRemove.el).remove();
            }
        },
        render : function() {
            var that = this;
            this._rendered = true;
            $(this.el).empty();
            _(this._childViews).each(function(childView) {
                $(that.el).append(childView.render().el);
            });
            return this;
        }
    });

    // Models
    // -- User
    User = Backbone.Model.extend({
        clipped_uuid: function() {
            var uuid = this.get('uuid');
            return uuid.split('-')[0];
        },
        display_name: function() {
            if (this.get('nickname')) {
                return this.get('nickname') + ' (' + this.clipped_uuid() + ')';
            } else {
                return this.clipped_uuid();
            }
        }
    });
    current_user = new User({
        uuid: $.cookie('uuid'),
        blind: 0,
        hand: 0,
        open: 0
    });
    // @todo and we need all the other users at load time.
    UserCollection = Backbone.Collection.extend({
        model: User
    });
    user_collection = new UserCollection([current_user]);


    UpdatingUserView = Backbone.View.extend({
        model: User,
        initialize: function(options) {
            this.render = _.bind(this.render, this);
            this.model.bind('change', this.render);
        },
        render: function() {
            var template = _.template($("#user_template").html(), {user: this.model});
            this.$el.html(template);
            return this;
        }
    });


    var UserHandsView = Backbone.View.extend({
        initialize : function() {
            this._userHandsCollectionView = new UpdatingCollectionView({
                collection: user_collection,
                childViewConstructor: UpdatingUserView,
                childViewTagName: 'li'
            });
        },
        render : function() {
            $(this.el).empty();
            var template = _.template($('#user_collection_template').html(), {});
            this.$el.html(template);
            this._userHandsCollectionView.el = this.$('#users');
            this._userHandsCollectionView.render();
        }
    });

    userHandsView = new UserHandsView({
        model: User,
        el: $('#user_list')
    });

    userHandsView.render();


    //------

    socket.emit('join', {
        room: '{{ table.uuid }}',
        user: current_user
    });
    socket.on('draw', function(message) {
        // Get the user
        // Find or create in the collection
        var user = user_collection.where({
            uuid: message['user']
        });
        if (user.length) {
            // Modify the user.
            user = user[0];
        } else {
            // Create the user
            user = new User({
                uuid: message['user'],
                blind: 0,
                hand: 0,
                open: 0
            });
            user_collection.add(user);
        }
        // Set all attributes appropriately
        var action = message['action'];
        var val = user.get(action);
        user.set(action, val + 1);
    });
    socket.on('nickname', function(message) {
        var user = user_collection.where({
            uuid: message['user']['uuid']
        })
        if (user.length) {
            user = user[0];
        } else {
            user = new User({
                uuid: message['user']['uuid'],
                blind: 0,
                hand: 0,
                open: 0
            })
            user_collection.add(user);
        }
        user.set('nickname', message['user']['nickname'])
    });


    $('#nickname').change(function(evt) {
        current_user.set('nickname', $('#nickname').val());
        socket.emit('nickname', {
            room: '{{ table.uuid }}',
            user: current_user
        });
    });

    $('.draw-button').click(function(evt) {
        var action = $(evt.target).data('action');
        socket.emit('draw', {
            user: current_user.get('uuid'),
            action: action,
            room: '{{ table.uuid }}'
        });
    });
});
</script>
<script type="text/template" id="user_collection_template">
    <ul id="users">
    </ul>
</script>

<script type="text/template" id="user_template">
    <h2><%= user.display_name() %></h2>
    <dl>
        <dt>Blind</dt>
        <dd><%= user.get('blind') %></dd>
        <dt>Hand</dt>
        <dd><%= user.get('hand') %></dd>
        <dt>Open</dt>
        <dd><%= user.get('open') %></dd>
    </dl>
</script>
{% endblock %}

{% block content %}
<h1>At {{ table.uuid }}</h1>
<div id="identity">
    Nickname: <input id="nickname" type="text" />
</div>
<div class="btn-group">
    <button class="btn draw-button" data-action="blind">Blind draw</button>
    <button class="btn draw-button" data-action="hand">Hand draw</button>
    <button class="btn draw-button" data-action="open">Open draw</button>
</div>
<div id="user_list"></div>
{% endblock %}
